.login__content {
 background-color: rgb(var(--cl-white));
 border: 1px solid rgb(var(--cl-white-200));
 border-radius: var(--br-ra-main);
 margin: auto;
 padding: var(--gap-2x);
 isolation: isolate;
 display: flex;
 flex-direction: column;
 width: min(100%, 55em);
}

.login-home__link i {
 font-size: 10em;
}

.login__hotel-logo {
 text-align: center;
 margin-bottom: 4em;
}

.sign-up__form {
 display: flex;
 flex-direction: column;
 overflow: hidden;
}

.sign-up__form-fields {
 overflow: auto;
 padding-inline-end: 0.4em;
}

.sign-up__fields {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}

.sign-up__fields-list {
 padding-block: var(--gap-2x);
}
.sign-up__fields-list:first-child {
 border-inline-end: 1px solid rgb(var(--cl-white-200));
 padding-inline-end: var(--gap-2x);
}
.sign-up__fields-list:last-child {
 padding-inline-start: var(--gap-2x);
}

.sign-up__pass {
 padding-block: var(--gap-2x);
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: var(--gap-4x);
 border-top: 1px solid rgb(var(--cl-white-200));
}

.sign-up__confirm {
 padding-block-start: var(--gap-2x);
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: var(--gap-4x);
 border-top: 1px solid rgb(var(--cl-white-200));
 align-items: center;
}
.sign-up__link {
 --comp-btn-cl: var(--cl-gold-accent) !important;
 --comp-btn-hr-cl: var(--cl-red-accent) !important;
 --comp-btn-inline-padding: 0;
 justify-self: start;
}

@media (max-width: 45em) {
 .sign-up__content {
  margin-inline: var(--gap);
 }

 .sign-up__fields {
  grid-template-columns: 1fr;
 }

 .sign-up__fields-list {
  padding-block: 0;
 }
 .sign-up__fields-list:last-child {
  padding-block-start: var(--gap-2x);
  padding-inline-start: 0;
 }
 .sign-up__fields-list:first-child {
  border-inline-end: 0;
  padding-inline-end: 0;
 }

 .sign-up__pass {
  grid-template-columns: 1fr;
  gap: var(--gap-2x);
  border-top: 0;
  padding-top: 0;
 }

 .sign-up__confirm {
  grid-template-columns: 1fr;
  gap: var(--gap-2x);
 }

 .sign-up__confirm > *:last-child {
  grid-row: 1;
 }
}
